<!DOCTYPE html>
<html>

<head>
  <!-- Importanat meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="refresh" content="36000">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="Description"
    content="functional bodies, функционални тела, силови тренировки, функционални тренировки, Холистични тренировки">
  <meta name="keywords" content="сила, здраве, функционални тела, functional bodies, болки в колена, Холистични тренировки">
  <meta name="google-site-verification" content="QmI-w1tw61XdcR3911Z6WRak9AhBC6gs0s2gUcw6zX0" />
  <title>Functional bodies</title>

  <!-- FavIcon -->
  <link rel="shortcut icon" href="https://lh3.googleusercontent.com/UsH2lCS0AivDqS-aI8pepEEEElNXayeWKzxEh9dqCbbgH3GetR5rEWS9cxXU_dtfOcfUBqhWF-2eEvxRwEPo-QAW3qx_Xj6gtAMpkzkRVB2-U9lNS_BzANm1K-216XvXltAbXEV8V2zqd-eS5MU45CsyDeY3uP8pLCbKgmgdh1gFvXe5OaaSDw502JJ6mytxAqN92t0zhlzP291FE21kyoOqaXRtbL7sfurb1Y03ipyUSggvmwGxLHqTQ8AjJW6JnF2jwfAzt32M_xzMyBWGbOumut5mYsFivOjww2NuQ0cy_tiT4BsT834hbyqbJaNSiEM1xgN3S2Vm-ARRdDLv95-04O-0UqCFd6craoe78IP11hRaFM3OvPsCP4XDH9JIJWXAzLOH9tgIAvjwaujrOC7Aqn6dZe0ZVf1piqC6SGaURb3YOLPUkO01WDLTqTqtKyTZia1KKoEEa6Hu4iiwwKewYrlMPw5q6nhmY_vh4-EQNL-1pv_ij95zualwas_91AhI4w5lJDYs0BxHTAU2FyIJbYtkFD7aqY0mvKfAqQY-Lxyagqp1lBxyLvVngaz5Krw8c8siynKLQLZwG72KmUWAOnuwewIK7Y6CnQrzZYMx5FZA0JXxI02rD7sLBSrkaX_TFqt8PFQlqKtZ0wPgD7wYlhwW0vStPTEHxQ-8jRd-48ltPgp46lU=s300-no">
  <!-- font awesome-->
  <link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic-ext" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  <link rel="stylesheet" href="./fonts/KelsonSans-Bold.ttf" crossorigin="anonymous">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Animate CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
  <!-- Customer CCS -->
  <link type="text/css" rel="stylesheet" href="/css/styles.css">
  <link type="text/css" rel="stylesheet" href="/css/responsive.css">


  <style>
    a:link {
      text-decoration: none;
    }

    a:visited {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }

    a:active {
      text-decoration: underline;
    }

    a:hover {
      text-decoration: none;
    }
  </style>

</head>

<body>
  <div id="preloader">
    <div id="status">&nbsp;</div>
  </div>

  <nav class="navbar navbar-expand-lg fixed-top shadow-nav ">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img class="imgLogo" src="/img/logo2.png" alt="logo" width="75">
      </a>
      <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon "> <i class="fas fa-bars icolor"></i> </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">НАЧАЛО</a>
          </li>
          <li>
            <a class="nav-link text-muted" style="color: rgba(255, 255, 255, 0.397)"  >/</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/services">УСУЛУГИ </a>
          </li>
          <li>
            <a class="nav-link text-muted" style="color: rgba(255, 255, 255, 0.397)"  >/</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="/#">ПРОГРЕСИИ</a>
          </li>
          <li>
            <a class="nav-link text-muted" style="color: rgba(255, 255, 255, 0.397)"  >/</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/#blog" disabled>БЛОГ</a>
          </li>
          <li>
            <a class="nav-link  text-muted" style="color: rgba(255, 255, 255, 0.397)"  >/</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="#">Магазин</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="/contact">КОНТАКТИ</a>
          </li>
          <li>
            <a class="nav-link  text-muted" style="color: rgba(255, 255, 255, 0.397)"  >/</a>
          </li>

          <li>
  
            <button data-popup-target="#popup" class="btn-contact-us">CONTACT US</button>
            <div class="popup" id="popup">
                <div class="popup-header">
                    <div class="popup-title">СВЪРЖЕТЕ СЕ С НАС</div>
                    
                  </div>
                  <button data-close-button class="close-button"><span class="closeMark">&times;</span></button>
                
                <div class="popup-body">
                  <form method="POST" action="/send-email">
                    <!-- <h4>Свържете се с нас</h4>
                    <p>Имате въпроси? С радост ще Ви отговорим. Пратите ни съобщение и ще се свържем с вас.</p> -->
       
                    <div class="row">

                        <div class="col-md-12 col-sm-12">
                          <!-- <h4>Свържете се с нас</h4> -->
                            <div class="form-group">
                                <input type="text" maxlength="50" class="form-control-contact" id="name" name="name" required>
                                <span class="floating-label">Име</span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                <input type="email" maxlength="50" class="form-control-contact" id="email" name="email"  required>
                                <span class="floating-label">Имейл</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <input type="text" maxlength="16" class="form-control-contact" id="phone" name="phone">
                                <span class="floating-label">Телефон</span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <div class="form-group">
                                <input type="text" maxlength="50" class="form-control-contact" id="subject" name="subject"  >
                                <span class="floating-label">Запитване</span>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <textarea maxlength="150" rows="1" class="form-control-contact" id="message" name="message" placeholder="Оставете ни съобщение" ></textarea>
                        
                    </div>

                    <div id="submit-btn">
                        <button  class="btn-contact-us-contact" title="Submit">Изпрати</button>
                    </div>

                </form>
                </div>
            </div>
            <div class="" id="overlay"></div>
          </li>
         
          <!-- <% if(!currentUser){ %>
          <li class="nav-item flex-wrap: wrap"><a class="nav-link nav-link-right" href="/login">Вход</a></li>
          <li class="nav-item flex-wrap: wrap"><a class="nav-link nav-link-right" href="/register">Регистрация</a></li>
          <% } else { %>
          <li class="nav-item flex-wrap: wrap"><a class="nav-link nav-link-right" href="#">Потребител <%= currentUser.username %></a>
          </li>
          <li class="nav-item flex-wrap: wrap"><a class="nav-link nav-link-right" href="/logout">Изход</a></li>
          <% } %> -->
        </ul>
        <!-- <div class="form-inline my-2 my-lg-0">
                  Navbar text with an inline element
                </div> -->
      </div>
    </div>
  </nav>

  <div class="container">
    <% if (error && error.length > 0) { %>
    <div class="alert alert-danger" role="alert">
        <%= error %>
    </div>
    <% } %>
    <% if (success && success.length > 0) { %>
    <div class="alert alert-primary" role="alert">
         <%= success %>
    </div>
    <% } %>
  </div>



  