<%- include("partials/header") %>

<br><br><br>

<section id="errorPage">


        <div class="errorPage">
            <h1>404 Error</h1> 
            <h2>Sorry, we can’t seem to find what you’re looking for.</h2>
        </div>
        <a class="btn btn-general btn-color" href="/">Go back</a>


</section>




<%- include("partials/footer") %>