<%- include("partials/header") %>

<br><br><br>

<section id="cookies">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>ПОЛИТИКА ЗА ИЗПОЛЗВАНЕ НА БИСКВИТКИ</h1>
                <br>
                <p>
                    За да улесним използването на нашия уебсайт, ние използваме “Бисквитки” (“Cookies”). Te представляват малки раздели от информация, съхранявана временно на хард-диска на Вашия компютър от браузъра Ви, които са необходими за използване на нашия уебсайт. Информацията, която се съдържа в “бисквитките” служи например за нуждите на контрол на дадена сесия, в частност подобрява навигацията и улеснява използването на уебсайта от потребителите. “Бисквитките”, които ние използваме, не съхраняват каквато и да е лична информация. Повечето от браузърите автоматично приемат “бисквитки”. Можете да избегнете това като промените настройките на Вашия браузър. Можете да изтриете “бисквитките”, съхранени на вашия компютър по всяко време като изтриете временните интернет файлове. (Browser bar “Tools/Extras”-“Internet options”).
                </p>
                <br>
                <h3>Видове “Бисквитки” (“Cookies”)</h3>
                
                <h3>“Бисквитки” от първи лица</h3>
                <br>
                <p> “Бисквитки” от първи лица се поставят от уебсайта, който посещавате и могат да бъдат прочетени само от този сайт.</p>
                <br>
                <h3>“Бисквитки” от трети лица</h3>
                <br>
                <p>“Бисквитки” от трети лица се поставят от други организации, които ние използваме за различни услуги. Например, ние използваме външни аналитични услуги и тези доставчици поставят “бисквитки” от наше име, за да могат да определят кое е популярно и кое – не. Уебсайтът, който посещавате, може също така да съдържа и вградено видео от YouTube, например. Подобни сайтове може да поставят свои собствени “бисквитки”.</p>
                <br>
                <h3>Защо трябва да разрешавам “Бисквитки”?</h3>
                <br>
                <p>
                    Информацията, съдържаща се в “бисквитки” се използва, за да се подобрят услугите към вас. Например:<br>
• позволява услуга, която разпознава вашето устройство, така че не се налага да предоставяте една и съща информация няколко пъти, като например, попълване на уеб формуляр или проучване;<br>
• помощ при търсачката на продукти;<br>
• позволява на видео плейърите да функционират правилно;<br>
• измерва колко хора използват услугата, така че използването ѝ да е по-лесно, както и че има достатъчен капацитет, за да се осигури бързината ѝ;<br> анализира анонимни данни, които ще ни помогнат да разберем как хората взаимодействат с различните аспекти на онлайн услугите ни, за да можем да ги подобрим.
                </p>

            </div>

        </div>

    </div>
    <a class="btn btn-general btn-color" href="/">Go back</a>

       

</section>