<%- include("partials/header") %>

<br><br><br>

<section id="emailSend">


        <div class="emailSend">
            <h1>Съобщениет Ви беше изпратено като имейл до нас</h1> 
            <h2>Благодарим за запитването, ще отговорим на запитването Ви при първа възможност</h2>
            <div>
                <a class="btn btn-general btn-color" href="/">Go back</a>
            </div>
           

        </div>
       

</section>




<%- include("partials/footer") %>