<%- include("partials/header") %>

<section id="service">
    <div id="home-content">
        <div id="home-overlay"></div>
        <div id="home-content-inner" class="about-right">

            <div id="service-heading">

                <h1 id="service-heading-1">Изберете най-добрия</h1><br>
                <h1 id="service-heading-2"> вариант за себе си
                    <!-- <a href="#"><b>ЗДРАВИ!</b></a> -->
                </h1>
                <p> Ние знаем, че нашите клиенти имат различни цели и нужди, затова <br> предлагаме различни програми за постигане на най-добрият<br> резултат.
                </p>
            </div>

            <button data-popup-target="#popup" class="btn-contact-us-services">СВЪРЖEТЕ СЕ С НАС</button>

        </div>
    </div>
    <div>

        <a href="#training-menu" id="arrow-down">
            <img src="/img/Icons/arrow icon.svg" alt="ИНДИВИДУАЛНА ПРОГРАМА" class="img-fluid"
            width=20>
        </a>
    </div>
</section>

<section id="training-menu">
    <h3 class="team-logo-h3">
        <span class="line-right"></span> <span></span>ИЗБЕРЕТЕ <span>ЦЕЛ<span class="line-left"></span>
    </h3>
    <h1 class="training-logo-h1">ТРЕНИРОВЪЧНИ<br>ПРОГРАМИ</h1>
    <div class="container">
        <h4 class="bigNumber">01</h4>
        <div class="row">
            <div class="col-lg-6">
                <img class="trainingPic1 img-fluid" src="img/other/1.png" >
                <div class="shape">
                    <div id="pentagon">
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="training-logo-h3">
                    Индивидуална програма
                </h3>
                <p>Създаване<br class="break"> на индивидуална тренировъчна програма <br class="break">според нуждите на клиента с <br class="break">възможност за периодичен контрол на изпълнението ѝ.<br class="break"> Открива се правилният път към <br class="break">здравословен режим и <br class="break">изграждане на физически, <br class="break">ментални и <br class="break">личностни качества.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="training-menu2">

    <div class="container">
        <h4 class="bigNumber2">02</h4>
        <div class="row">
            <div class="col-lg-6">
                <h3 class="training-logo-h3 TextPlace">
                    Персонални тренировки
                </h3>
                <p>Изграден персонален тренировъчен процес<br class="break"> изцяло в синхрон<br class="break"> с индивидуалните нужди на клиента, <br class="break">който получава постоянно наблюдение,<br class="break"> насоки и указания за качественото<br class="break"> изпълнение на целия цикъл на промяната.
                </p>
            </div>
            <div class="col-lg-6 picPlace">
                <img class="trainingPic2 img-fluid" src="img/other/3.png" >
                <div class="shape">
                    <div id="pentagon">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="training-menu3">

    <div class="container">
        <h4 class="bigNumber">03</h4>
        <div class="row">
            <div class="col-lg-6">
                <img class="trainingPic3 img-fluid" src="img/other/services12.jpg" class="">
                <div class="shape">
                    <div id="pentagon">
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="training-logo-h3">
                    Възстановяване след травми
                </h3>
                <p>Специализирана програма за възстановяване след травми,<br class="break"> съобразена със здравословния проблем на клиента.<br class="break"> Предвидени са консултации с кинезитерапевти,<br class="break"> рехабилитатори и травматолози, наблюдаващи процеса <br class="break">и осигуряващи второ мнение.<br class="break"> Екипът на Functional Bodies има дългогодишен опит<br>във възстановителния процес на множество<br class="break"> свои клиенти.
                </p>
            </div>
        </div>
    </div>
</section>

<%- include("partials/footer") %>