<%- include("partials/header") %>

<section id="service">
    <div id="home-content">
        <div id="home-overlay"></div>
        <div id="home-content-inner" class="about-right">

            <div id="service-heading">

                <h1 id="service-heading-1">Изберете най-добрия</h1><br>
                <h1 id="service-heading-2"> вариант за себе си
                    <!-- <a href="#"><b>ЗДРАВИ!</b></a> -->
                </h1>
                <p> Ние знаем, че нашите клиенти имат различни цели и нужди, затова <br> предлагаме различни програми за постигане на най-добрият<br> резултат.
                </p>
            </div>

            <button data-popup-target="#popup" class="btn-contact-us-services">СВЪРЖEТЕ СЕ С НАС</button>

        </div>
    </div>
    <div>

        <a href="#training-menu" id="arrow-down">
            <img src="/img/Icons/arrow icon.svg" alt="ИНДИВИДУАЛНА ПРОГРАМА" class="img-fluid"
            width=20>
        </a>
    </div>
</section>

<section id="training-menu">
    <h3 class="team-logo-h3">
        <span class="line-right"></span> <span></span>ИЗБЕРЕТЕ <span>ЦЕЛ<span class="line-left"></span>
    </h3>
    <h1 class="training-logo-h1">ТРЕНИРОВЪЧНИ<br>ПРОГРАМИ</h1>
    <div class="container">
        <h4 class="bigNumber">01</h4>
        <div class="row">
            <div class="col-lg-6">
                <img class="trainingPic " src="img/other/services3.jpg" class="img-fluid">
                <div class="shape">
                    <div id="pentagon">
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="training-logo-h3">
                    Индивидуална програма
                </h3>
                <p>Създаване<br> на индивидуална тренировъчна програма <br>според нуждите на клиента с <br>възможност за периодичен контрол на изпълнението ѝ.<br> Открива се правилният път към <br>здравословен режим и <br>изграждане на физически, <br>ментални и <br>личностни качества.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="training-menu2">

    <div class="container">
        <h4 class="bigNumber2">02</h4>
        <div class="row">
            <div class="col-lg-6">
                <h3 class="training-logo-h3">
                    Персонални тренировки
                </h3>
                <p>Изграден персонален тренировъчен процес<br> изцяло в синхрон<br> с индивидуалните нужди на клиента, <br>който получава постоянно наблюдение,<br> насоки и указания за качественото изпълнение<br> на целия цикъл на промяната.
                </p>
            </div>
            <div class="col-lg-6">
                <img class="trainingPic" src="img/other/services2.jpg" class="img-fluid">
                <div class="shape">
                    <div id="pentagon">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="training-menu3">

    <div class="container">
        <h4 class="bigNumber">03</h4>
        <div class="row">
            <div class="col-lg-6">
                <img class="trainingPic" src="img/other/services12.jpg" class="img-fluid">
                <div class="shape">
                    <div id="pentagon">
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="training-logo-h3">
                    Възстановяване след травми
                </h3>
                <p>Специализирана програма за възстановяване след травми,<br> съобразена със здравословния проблем на клиента.<br> Предвидени са консултации с кинезитерапевти,<br> рехабилитатори и травматолози, наблюдаващи процеса <br>и осигуряващи второ мнение.<br> Екипът на Functional Bodies има дългогодишен опит<br>във възстановителния процес на множество<br> свои клиенти.
                </p>
            </div>
        </div>
    </div>
</section>

<%- include("partials/footer") %>